<h2>2 step</h2>
<div class="field">
    <%= f.label :email %><br>
    <div class="input-group">
      
		  <span>
		  	<i class="fa fa-at"></i>
		  </span>
    <input type="text" placeholder=" Your email" name="order[email]">

   </div>
</div>
  <div class="field">
    <%= f.label :customer_name %><br>
    <div class="input-group">
      
		  <span>
		  	<i class="fa fa-user"></i>
		  </span>
    <input type="text" placeholder=" Your name" name="order[customer_name]">

   </div>
</div>
  <div class="field">
    <%= f.label :phone %><br>
    <div class="input-group">
      
		  <span>
		  	<i class="fa fa-phone"></i>
		  </span>
    <input type="text" placeholder=" Your phone" name="order[phone]">

   </div>
</div>
