// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.subcat option{
    display:none;
}

.subcat option.label{
    display:block;
}
#order_qty{
   border: 1px gray solid;
   padding: 10px;
}
input{
  border:none;
  background-color: transparent;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-user-circle-o{
  color: gray;
}

.input-group{
  border: 1px gray solid;
  padding: 10px;
}
.btn-primary{
      background-color: #e90000;

}